#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: patch

clean: unpatch
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs
	dh_install
	chmod +x "$(CURDIR)/debian/drraw/usr/lib/cgi-bin/drraw/drraw.cgi"
	dh_link usr/share/drraw/icons   usr/lib/cgi-bin/drraw/icons

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGES
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: install

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install patch unpatch
